*{
  box-sizing: border-box;
}
img{
  width: 100%;
}

$brown : #533011;

body{
  font-size: 16px;
  background-color: #E2E2E2;
  padding: 0;
  margin: 0;
  header{
    background-color: #ffffff;
    z-index: 200;
    .navigation{
      z-index: 200;
      position: fixed;
      .logo{
        font-size: 30px;
        text-align: left;
        padding: 10px;
        background-color: #ffffff;
        border-bottom: 2px solid $brown;
        color: rgb(50, 17, 194);
        position: fixed;
          top: 0px;
          width: 100%;
      }
      nav{
        padding: 0;
        .fa{
          position: fixed;
          top: 20px;
          right: 10px;
          font-size: 20px;
          color: #E86C00;
        }
        ul{
          list-style-type: none;
          position: fixed;
          top: 50px;
          background-color: #ffffff;
          width: 100%;
          height: 180px;
          padding: 0;
          margin: 0;
          padding-bottom:$brown ;
          display: none;
          li{
            a{
              text-decoration: none;
              padding: 5px;
              border: 1px solid #DDDDDD;
              display: block;
              
            }
          }
        }
      }
    }
    .header_img{
      width: 100%;
    }
  }
  .section1{
    background-color: $brown;
    div{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1em 0; 
      color: #ffffff;

      i{
        font-size: 20px;
        width: 20%;
        text-align: center;
      }
      p{
        width: 70%;
      }
    }
  }
  .section2{
    padding: 1em;
    button{
      background-color: $brown;
      color: #ffffff;
      padding: 8px;
      border: none;
      outline: none;
    }
  }
  .section3{
    display: flex;
    flex-direction: column;
    .sec3_img{
      position: relative;
    .offer{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0,0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
    }
    .sec3_text{
      padding: 0 3em;
      p{
        font-weight: bolder;
        font-size: 1.2em;
      }
    }
    
  }
  .section4{
    padding: 1em;
  }
  .section5{
    background-color: #D3D3D3;
    padding: 1em;
    text-align: center;
    .sec5_box{
      display: flex;
      flex-direction: column;
      i{
        font-size: 50px;
        width: 85px;
        padding: 5px 10px;
        background-color: #563E50;
        color: #ffffff;
      }
    }
  }
  .section6{
    display: flex;
    flex-direction: column;
    background-color: #563E50;
    color: #ffffff;
    padding: 1em;
    form{
      padding: 1em;
      background-color: rgba(255, 255, 255,0.2);
      text-align: center;
      .input_wrapper{
        display: flex;
        flex-direction: column;
        input{
          width: 100%;
          display: block;
          padding: 10px 8px;
          margin: 1em 0;
        }
      }
      input[type=submit]{
        width: 100%;
        padding: 10px;
        background-color:#002147;
        color: #ffffff;
        border: 2px solid #ffffff;
        margin: 1em 0;
      }
      input[type=file]{
        width: 100%;
        background-color: #ffffff;
        padding: 10px 8px;
        margin: 1em 0;
      }
    }
  }
  .section7{
    padding: 1em;
    ul{
      padding: 0 1.7em;
      li{
        margin: 0.5em;
      }
    }
  }
  .section8{
    h2{
      padding: 0 1em;
      text-align: center;
    }
    .sec8_box_wrapper{
      display: flex;
      flex-direction: column;
      background-color: #002147;
      z-index: -1;
      .sec8_box{
        text-align: center;
        padding: 1em ;
        margin: 0.5em 0;
        
        button{
          padding: 13px;
          border-radius: 5px;
        }
        color: #ffffff;
      }
      .blue{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(160,45,253,0.3311369225424545) 100%);
      }
      .brown{
        background-color: #5A3642;
      }
    }
    
  }
  .section9{
    background-color: #0C0048;
    color: #ffffff;
    padding: 1em;
    i{
      color: #E77817;
      width: 10%;
      margin: 0;
    }
    li{
      list-style-type: none;
      margin: 1.5em 0;
      display: flex;
      justify-content: space-between;

    }
    span{
      justify-self: left;
      width: 90%;
    }
    .sec9_box1{
      .sec9_box1_wrapper{
        display: flex;
        div{
          width: 45%;
          justify-content: space-between
        }
      }
    }
    .sec9_box2{
      .sec9_box2_wrapper{
        display: flex;
        div{
          width: 45%;
          justify-content: space-around;
        }
      }
    }
    .sec9_box3{
      
      .social{
        margin: 3em 0;
        i{
          width: 20px;
          border: 1px solid #3D336D;
          color: #B3B3B3;
          margin-right: 1em;
        }
      }
    }
  }
  footer{
    text-align: center;
    padding: 3em 1em;
  }

}

// media query for larger screen
@media(min-width: 750px){
  body{
    font-size: 16px;
    header{
      background-color: #ffffff;
      z-index: 200;
      .navigation{  
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        z-index: 200;
        .logo{
          font-size: 60px;
          padding: 10px;
          border-bottom: none;
          position: static;
          width: 30%;
          
        }
        nav{
          width: 100%;
          .fa{
            display: none;
          }
          ul{
            position: static;
            background-color: #ffffff;
            color: #5A3642;
            display: flex;
            justify-content: flex-end;
            height: initial;
            li{
              a{
                border: none;
                display: block;
                font-size: 1.5em;
                margin: 0.5em;
              }
            }
          }
        }
      }
      .header_img{
        width: 100%;
      }
    }
    .section1{
      display: flex;
      justify-content: space-evenly;
      padding: 1em 0;
      div{
        i{
          font-size: 30px;
        }
      }
    }
    .section2{
      padding: 2em 4em ;
      text-align: center;
    }
    .section3{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 2em;
      background-color: $brown;
      color: #ffffff;
      
      .sec3_img{
        width: 25%;
        height: 100%;
      .offer{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
      }
      .sec3_text{
        padding: 0 3em;
      }
      
    }
    .section4{
      padding: 2em 4em;
      text-align: center;
    }
    .section5{
      padding: 2em;
      .sec5_box{
        display: flex;
        flex-direction: row;
        i{
          font-size: 60px;
          width: 95px;
          padding: 8px 10px;
        }
      }
    }
    .section6{
      display: flex;
      flex-direction: row;
      padding: 2em;
      .sec6_texts{
        width: 50%;
        font-size: 1.6em;
      }
      form{
        width: 50%;
        padding: 2em;
        .input_wrapper{
          display: flex;
          flex-direction: row;
          width: 100%;
          div{
            width: 100%;
          }
          input{
            width: 98%;
          }
        }
        input[type=submit]{
          margin: 1em 0;
        }
      }
    }
    .section7{
      padding: 1em;
      ul{
        padding: 0 1.7em;
        li{
          margin: 0.5em;
        }
      }
    }
    .section8{
      h2{
        padding: 0 1em;
        text-align: center;
        font-size: 2em;
      }
      .sec8_box_wrapper{
        display: flex;
        flex-direction: row;
        padding: 1em 4em;
      }
      
    }
    .section9{
      padding: 3em 1em;
      display: flex;
      justify-content: space-evenly;
      li{
        list-style-type: none;
        margin: 1.2em 0;
        display: flex;
        justify-content: space-between;
      }
      span{
        justify-self: left;
        width: 90%;
      }
      .sec9_box1{
        width: 30%;
      }
    }
    footer{
      text-align: center;
      padding: 3em 1em;
    }
  
  }

}